:root {

  /* BG */
  --bg-main: hsl(0, 0%, 100%);
  --bg-secondary: hsl(192, 91.4%, 36.5%);

  /* MY WORK */

  --crimson-red: hsl(0, 69.9%, 36.5%);
  --moody-blue: hsl(245, 44.5%, 62.5%);
  --hippie-green: hsl(105, 30%, 43.1%);
  --fuchsia: hsl(309, 44.4%, 57.6%);
  --orange: hsl(32, 67.1%, 53.5%);
  --blue: hsl(201, 60%, 55.9%);


  --font-paragraph-platina: hsl(0, 0%, 30%);
  --font-color-black: hsl(103, 46.7%, 2.9%);
  --font-color-white: hsl(0, 0%, 100%);

  /* FONT SIZE */

  --font-small: 16px;
  --font-small-title: 16px;
  --font-medium: 18px;
  --font-large: 32px;
  --font-large-xl: 40px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 1px solid black;
}

svg {
  width: 10px;
  height: 10px;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-main);
  min-height: 100vh;
  color: var(--font-color-black);
  width: 100%;
  max-width: 100%;
  gap: 50px;
  font-family: "Roboto";
}


.title {
  font-family: "Bodoni Moda";
}

.item-1 {
  background-color: var(--crimson-red);
}

.item-2 {
  background-color: var(--moody-blue);
}

.item-3 {
  background-color: var(--hippie-green);
}

.item-4 {
  background-color: var(--fuchsia);
}

.item-5 {
  background-color: var(--orange);
}

.item-6 {
  background-color: var(--blue);
}



.bg-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 310px;
  background-color: var(--bg-secondary);
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

.main {
  display: flex;
  flex-direction: column;

  gap: 50px;
  width: 100vw;
  padding: 15px;

}

.hero-section {
  gap: 30px;
  align-self: center;
  min-width: 220px;
  /* height: 680px; */
}

.hero-section__image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 75%;
}

.hero-section__image {
  height: 300px;
  width: 100%;
  background-color: var(--crimson-red);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  /* тут правила в хтмл уже писать желательно */
}

.hero-section__name {
  align-self: flex-end;
  position: absolute;
  width: 100%;
  padding: 0 12px;
  font-size: var(--font-large-xl);
  line-height: 1.2;
  color: var(--font-color-white);
}

.hero-section {
  display: flex;
  flex-direction: column;

}

.hero-section__about {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.hero-section__title {

  text-align: center;
  font-size: var(--font-large);
}

.hero-section__text {
  width: 100%;
  max-width: 320px;
  line-height: 1.5;
  color: var(--font-paragraph-platina);

}

.hero-section__about-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

}

.hero-section__about-link {
  width: 30px;
  height: 30px;
}

.hero-section__about-icon {
  width: 100%;
  height: 100%;
}

.my-work__gallery {
  display: grid;
  flex-direction: column;
  place-items: center;
  gap: 50px;
  grid-template-columns: repeat(1, 1fr);
}

.my-work__project-wrapper {
  width: 100%;
  min-height: 400px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.my-work__project-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  text-align: center;
  font-size: var(--font-large);
  color: var(--font-color-white);
}

.my-work__bottom-wrapper {
  padding: 10px;
}

.my-work__project-nav {
  display: flex;
  justify-content: space-between;


  width: 100%;
}

.my-work__title {
  margin-bottom: 20px;
  text-align: center;
  font-size: var(--font-large);

}

.my-work__project-name {
  font-size: var(--font-small-title);
}

.my-work__project-text {
  font-size: var(--font-small);
}

.contacts {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--font-color-white);
  background-color: var(--bg-secondary);
  font-style: normal;
  font-size: var(--font-small);
}

.contacts__left {
  display: flex;
  gap: 15px;

}

.contacts__title {
  text-align: center;
  font-size: var(--font-large);
}

.contacts__desc-text {
  font-size: var(--font-medium);
}

.c-item-1 {
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.contacts__item {
  display: flex;

}

.contacts__link {
  text-decoration: none;
  color: var(--font-color-white)
}

.contacts__icon {
  display: hidden;
  width: 0;
}

.my__work__icon {
  width: 30px;
  height: 30px;
}

.footer-left__socials-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.footer-right__image {
  width: 100%;
  height: 400px;
  background-color: var(--crimson-red);
}

@media (min-width: 768px) {
  body {
    flex: row;

  }

  .main {
    padding: 30px;
  }

  .hero-section__about {}


  .my-work__gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 20px;
  }

  .contacts {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {


  .main {
    padding: 80px;
  }

  .hero-section__about {
    padding: 20px 10px
  }

  .my-work__item-bot {
    display: flex;
    gap: 10px;
    padding: 10px;
    max-width: 220px;
  }

  .my-work__gallery {
    grid-template-columns: repeat(3, 1fr);

  }

}