:root {

  /* BG */
  --bg-main: hsl(0, 0%, 100%);
  --bg-secondary: hsl(192, 91.4%, 36.5%);

  /* MY WORK */

  --crimson-red: hsl(0, 69.9%, 36.5%);
  --moody-blue: hsl(245, 44.5%, 62.5%);
  --hippie-green: hsl(105, 30%, 43.1%);
  --fuchsia: hsl(309, 44.4%, 57.6%);
  --orange: hsl(32, 67.1%, 53.5%);
  --blue: hsl(201, 60%, 55.9%);


  --font-paragraph-platina: hsl(0, 0%, 30%);
  --font-color-black: hsl(103, 46.7%, 2.9%);
  --font-color-white: hsl(0, 0%, 100%);

  /* FONT SIZE */
  --font-small-14: 14px;
  --font-small: 16px;
  --font-small-title: 16px;
  --font-medium: 18px;
  --font-large: 32px;
  --font-large-xl: 48px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid black; */
}

svg {
  width: 10px;
  height: 10px;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-main);
  min-height: 100vh;
  color: var(--font-color-black);
  width: 100%;
  max-width: 100%;
  gap: 50px;
  font-family: "Roboto";
}


.title {
  font-family: "Bodoni Moda";
}

.text {
  font-size: var(--font-small-14);
}

.item-1 {
  background-color: var(--crimson-red);
}

.item-2 {
  background-color: var(--moody-blue);
}

.item-3 {
  background-color: var(--hippie-green);
}

.item-4 {
  background-color: var(--fuchsia);
}

.item-5 {
  background-color: var(--orange);
}

.item-6 {
  background-color: var(--blue);
}


.contact-item2 {
  flex-direction: column;

  gap: 10px;
}

.bg-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 310px;
  background-color: var(--bg-secondary);
  z-index: -1;
  clip-path: polygon(0 0, 130% 0, 0 80%);

}

.main {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 100vw;
  padding: 0 15px;

}

.hero-section {
  margin: 15px;
  gap: 30px;
  align-self: center;
  min-width: 220px;

}

.hero-section__image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 75%;
  max-width: 300px;
  height: 400px;

}

.hero-section__image {
  height: 100%;
  width: 100%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);

}


.hero-section__name {
  align-self: flex-end;
  position: absolute;
  width: 100%;
  padding: 0 12px;
  font-size: var(--font-large-xl);
  line-height: 1.2;
  color: var(--font-color-white);
}

.hero-section {
  display: flex;
  flex-direction: column;

}


.hero-section__about {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-section__title {

  text-align: center;
  font-size: var(--font-large);
}

.hero-section__text {
  width: 100%;
  max-width: 320px;
  line-height: 1.5;
  color: var(--font-paragraph-platina);

}

.hero-section__about-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

}

.hero-section__about-link {
  width: 30px;
  height: 30px;
}

.hero-section__about-icon {
  width: 100%;
  height: 100%;
}

.my-work__gallery {
  display: grid;
  flex-direction: column;
  place-items: center;
  gap: 50px;
  grid-template-columns: repeat(1, 1fr);
}

.my-work__project-wrapper {
  width: 100%;
  min-height: 350px;
  max-width: 300px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.my-work__project-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 220px;
  text-align: center;
  font-size: var(--font-large);
  color: var(--font-color-white);
}

.my-work__bottom-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px 18px;
}

.my-work__wrapper {
  display: flex;
  gap: 15px;
}

.my-work__icon {
  width: 100%;
  height: 100%;
}

.my-work__project-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.my-work__link {
  width: 15px;
  height: 15px;
}


.my-work__title {
  margin-bottom: 20px;
  text-align: center;
  font-size: var(--font-large);

}

.my-work__project-name {
  font-size: var(--font-small-title);
}

.my-work__project-text {
  width: 85%;
  color: var(--font-paragraph-platina);
  font-size: 12px;
}


.footer__contacts {
  padding: 20px 15px 50px 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--font-color-white);
  background-color: var(--bg-secondary);
  font-style: normal;
  font-size: var(--font-small);
  font-weight: 300;

}


.contacts__left {
  display: flex;
  gap: 15px;

}

.contacts__title {
  text-align: center;
  font-size: var(--font-large);
}



.contacts__desc-text {
  font-size: var(--font-medium);

}

.c-item-1 {
  display: flex;
  flex-direction: column;
}

.contacts__item {
  display: flex;

}

.contacts__link {
  text-decoration: none;
  color: var(--font-color-white)
}

.contacts__icon {
  display: hidden;
  width: 0;
}

.my__work__icon {
  width: 30px;
  height: 30px;
}

.footer-left__socials-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.footer-right__image {
  width: 100%;
  height: 400px;
  background-color: var(--crimson-red);
}

.footer-left__socials {
  width: 40px;
  height: 40px;
}


.footer-left__socials-icon {
  width: 100%;
  height: 100%;
}


.hero-section__about-icon {
  display: none;
}


@media (min-width: 768px) {
  body {

    flex: row;
  }

  .footer-left__socials-icon {
    width: 100%;
    height: 100%;
    gap: 280px;

  }

  .bg-shape {
    width: 2000px;
  }

  .main {
    padding: 115px 80px 0 80px;
  }

  .hero-section {
    padding-top: 65px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    display: block;
    width: 620px;
    height: auto;
    background-color: var(--bg-main);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  }


  .hero-section__name {
    padding: 0;
    top: 5%;
    left: 80%;
    width: 400px;
  }

  .hero-section__image-wrapper {
    margin-top: -160px;
    margin-left: -80px;
    margin-right: 20px;
    float: left;
    width: 320px;
    height: 320px;


  }


  @media (min-width: 768px) {

    body {
      gap: 280px;
    }

    .main {
      padding: 115px 80px 0 80px;
    }

    .hero-section {
      padding-top: 80px;
      padding-right: 30px;
      padding-left: 30px;
      padding-bottom: 30px;
      display: block;
      width: 100%;
      height: auto;
      background-color: var(--bg-main);
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    }

    .hero-section__image-wrapper {
      margin-top: -160px;
      margin-left: -80px;
      margin-right: 20px;
      float: left;
      width: 320px;
      height: 370px;

    }



    .hero-section__text {
      display: block;
      word-break: break-word;
      line-height: 1.6;
      max-width: 70ch;

    }


    .hero-section__about-socials {
      align-items: flex-end;
      justify-content: flex-end;
    }


    .my-work__title {
      text-align: left;
    }

    .my-work__gallery {
      grid-template-columns: repeat(2, 1fr);
      gap: 45px 5px;
    }


    .my-work__project-wrapper {
      max-width: 300px;

    }

    .contacts {
      flex-direction: row;
    }

    .footer {

      display: flex;
      width: 100%;
      justify-content: space-between;
      flex-direction: row;
      padding: 40px 30px 60px 30px;
      background-color: var(--bg-secondary);
    }

    .footer-right {}

    .footer-right__image {
      width: 280px;
      height: 380px;
    }


    .footer__contacts {
      flex-direction: column;

      padding-top: 30px;
      text-align: left;
      gap: 25px;
    }

    .contacts__title {
      text-align: left;
    }

    .contacts__desc-text {

      font-size: var(--font-small);
      max-width: 30ch;
    }

    .footer-left__socials-wrapper {
      justify-content: flex-start;
    }
  }

  @media (min-width: 1024px) {

    body {
      gap: 40px;
    }

    .main {
      padding: 80px;
    }

    .hero-section {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      padding: 20px 10px;
      width: 50%;
    }

    .hero-section__about {
      padding: 20px 10px
    }

    .hero-section__image-wrapper {
      width: 400px;
    }

    .my-work {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
    }

    .my-work__title {
      text-align: left;
    }



    .my-work__item-bot {
      display: flex;
      gap: 10px;
      padding: 10px;
      max-width: 220px;
    }

    .my-work__gallery {
      grid-template-columns: repeat(3, 300px);
      align-items: center;
      justify-content: center;
      gap: 25px;
    }

  }

  .my-work {
    margin: 0 auto;
  }

  .my-work__title {

    text-align: left;

  }

  .my-work__gallery {
    justify-content: center;
    grid-template-columns: repeat(2, 300px);
    gap: 45px 25px;
  }


  .my-work__project-wrapper {
    max-width: 300px;

  }

  .contacts {
    flex-direction: row;
  }

  .footer {

    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    padding: 40px 30px 60px 30px;
    background-color: var(--bg-secondary);

  }


  .footer-wrapper {
    display: flex;
    width: 620px;
    justify-content: space-between;
  }

  .footer-right__image {
    width: 280px;
    height: 380px;
  }


  .footer__contacts {
    flex-direction: column;

    padding-top: 30px;
    text-align: left;
    gap: 25px;
  }

  .contacts__title {
    text-align: left;
  }

  .contacts__desc-text {

    font-size: var(--font-small);
    max-width: 30ch;
  }

  .footer-left__socials-wrapper {
    justify-content: flex-start;
  }
}

@media (min-width: 1024px) {

  body {
    gap: 90px;
  }

  .main {
    margin: 0 auto;
    padding-top: 80px;
    gap: 80px;
  }

  .div-float {
    display: none;
  }

  .bg-shape {
    height: 700px;

  }

  .hero-section {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 950px;
    background-color: transparent;
    box-shadow: none;
  }

  .hero-section__about {

    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 50%;
    width: 100%;
    background-color: var(--font-color-white);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  }

  .hero-section__title {
    text-align: left;
  }



  .hero-section__name {
    position: absolute;
    top: 15%;
  }

  .hero-section__image-wrapper {
    position: absolute;
    margin: 0;

    min-width: 450px;
    max-width: 450px;
    min-height: 500px;
    background-color: var(--crimson-red);
    box-shadow: none;
    z-index: 2;

  }


  .hero-section__name {
    position: absolute;
    top: 90%;
    left: 0;
    text-align: center;
    width: 100%;
  }

  .my-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .my-work__title {

    margin-top: 80px;
    text-align: left;
    top: 100%;
  }


  .my-work__item-bot {
    display: flex;
    gap: 10px;
    padding: 10px;
    max-width: 220px;
  }

  .my-work__gallery {
    grid-template-columns: repeat(3, 300px);
    align-items: center;
    justify-content: center;
    gap: 25px;
  }


  .footer {
    justify-content: center;

  }

  .footer__contacts {
    padding: 0;

  }

  .footer-wrapper {
    display: flex;
    width: 950px;
    justify-content: space-between;
  }

  .footer-right__image {
    width: 600px;
  }

  .contacts__item {
    gap: 10px;


  }

  .hero-section__about-icon {
    display: block;
    width: 25px;
    height: 25px;
  }

  .tel,
  .email {
    gap: 15px;
    align-items: center;
  }

}